:root{
    --modal-form-pading: 30px
}

.modal_container{
    top: 0;
    z-index: 99;
    position: fixed;
    display: flex;
    /*display: none;*/
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.6);
}
.modal{
    display: flex;
    width: 1000px;
    height: 80%;
    background-color: var(--color-white);
}
.modal>section{
    flex: 1;
}
.modal .img_section>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .image_section > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal .form_section .select_container{
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-body-lg);
    padding: var(--modal-form-pading);
    border-bottom: 1px solid var(--color-inverse-primary);
}
.modal .form_section .select_container>div{
    display: flex;
    align-items: center;
}
.modal .form_section .select_container>.close_button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5rem;
}
.modal .form_section .select_container input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    accent-color: #ff5722;
}
/**************************************************/
.modal .form_section .product_container{
    padding: var(--modal-form-pading);
    height: 500px;
    overflow-y: scroll;
}
.modal .form_section .product_container li{
    padding: 20px 0 ;
    border-bottom: 1px solid var(--color-inverse-primary);
}
.modal .form_section .product_item{
    display: flex;
    align-items: center;
}
.modal .form_section .product_item input{
    width: 20px;
    height: 20px;
    margin-right: 14px;
}
.modal .form_section .product_item label{
    display: grid;
    grid-template-columns: 88px 1fr;
    grid-template-areas:
    'image title'
    'image color'
    'image price';
    gap: 10px;
}
.modal .form_section .product_item img{
    grid-area: image;
    width: 100%;
    height: 100%;
    /*height: 88px;*/
}
.modal .form_section .product_item b{
    grid-area: inherit;
    font-size: var(--font-size-body-sm);
}
.modal .form_section .product_item span{
    grid-area: color;
    font-size: var(--font-size-label-caps);
}
.modal .form_section .product_item strong{
    grid-area: price;

}
.modal .form_section .product_size{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-inverse-primary);
    border-radius: 50px;
    cursor: pointer;
    padding: 20px 30px;
    margin-top: 20px;
    font-weight: bold;
}
.modal .form_section .product_size span{
    font-size: 0.8rem;
}
.modal .total_price_container{
    display: flex;
    justify-content: space-between;
    padding: var(--modal-form-pading);
    font-size: var(--font-size-title-md);
}
.modal .submit_container{
    padding: 0 var(--modal-form-pading);
}
.modal .submit_container>button{
    display: block;
    background-color: #1b1b1b;
    color: white;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
}
@media screen and (max-width: 480px) {
    .modal_container{
        top: 0;
        z-index: 99;
        position: fixed;
        display: flex;
        /*display: none;*/
        justify-content: center;
        align-items: start;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-white);
    }

    .modal{
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--color-white);
    }
}