main > .title{
    display: flex;
    align-items: flex-end;
    padding: 24px 0;
}
main > .title > h1{
    font-size: var(--font-size-display-lg);
    font-weight: 900;
    letter-spacing: var(--letter-spacing-display-lg);
}
main > .title > span{
    font-size: var(--font-size-body-lg);
    font-weight: 900;
    padding: 0 0 8px 16px;
}
main > ul.list{
    display: flex;
    gap: 24px;
    /*background-color: #1b1b1b;*/
    padding-bottom: 24px;
}

main > ul.list > li > button{
    font-size: var(--font-size-title-md);
    font-weight: 700;
    color: var(--color-primary-fixed-dim);
}
main > .btn_box{
    display: flex;
    gap: 8px;
}
main > .btn_box > .filter{
    padding: 10px 16px;
    background-color: var(--color-tertiary);
    border-radius: 50px;
    color: var(--color-on-tertiary);
}
main > .btn_box > .filter > .icon{
    padding-right: 4px;
}
main > .btn_box > select{
    width: 100px;
    padding: 10px 16px;
    border-radius: 50px;
}