/*@import url('../public.css');*/

:root{
    --main-y-padding: 40px;
    --main-x-padding: 60px;
}

/******************************************/

.tag{
    /*background-color: blue;*/
    border: 1px solid var(--color-on-tertiary-container);
    padding: 3px 8px;
    border-radius: 50px;
    font-size: var(--font-size-label-caps);
}
/*******************************************/
.accordion{
    border: 1px solid var(--color-tertiary);
    border-radius: 28px;
    padding: 20px 16px;
    margin: 20px 0;
}
.accordion .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 10px;
    font-size: var(--font-size-title-md);
}
.accordion > .body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.accordion > .body > button{
    width: 30%;
    border-radius: 50px;
    border: 1px solid var(--color-surface-variant);
    padding: 80px 0;
    margin: 4px;
}
/*********************************************/
#main{
    display: flex;
    height: 100vh;
    /*background-color: #93000a;*/
}
#main > div{
    flex: 1;
    height: 100%;
    /*background-color: beige;*/
}
#main > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#main > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .information{
    width: 60%;
    /*background-color: chartreuse;*/
}
#main .information .header{
    display: flex;
    justify-content: space-between;
}
#main .information .title > h1{
    font-size: 2.2em;
    font-weight: 500;
    margin-bottom: 50px;
}
#main .information .header .share{
    font-size: 1.5em;
}

/*******************************************/
#main .information .group li{
    /*background-color: #93000a;*/
    display: inline-block;
    list-style: none;
    margin-bottom: 30px;
    &:first-child{
        border-bottom: 1px solid black;
    }
}
/********************************************/
#main .information .size > .body > button{
    width: 100%;
    border-radius: 50px;
    border: 1px solid var(--color-surface-variant);
    padding: 10px 8px;
    margin: 4px;
}
/********************************************/
#main .information .cart{
    background-color: var(--color-tertiary);
    border-radius: 50px;
    padding: 20px 40px;
}
#main .information .cart > button{
    width: 100%;
    /*background-color: #93000a;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-on-tertiary);
    font-size: var(--font-size-title-md);
}

/****************************************************************/

#detail{
    display: flex;
    padding: var(--main-y-padding) var(--main-x-padding);
}
#detail > div{
    flex: 1;
}
#detail .img_container{
    position: sticky;
    top: 0;
    left: 0;
    display: grid;
    width: 100%; /* 정비율 하려면 가로 100% 여야함 */
    aspect-ratio: 1/1; /* 가로 세로 정비율 */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-self: flex-start; /* 맨위에 붙이기. 세로 늘어짐x */
}
#detail .img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#detail >.information{
    padding-left: 100px;
}
#detail >.information > .product_information{
    margin-bottom: 60px;
}

#detail >.information > .product_information > p{
    font-size: var(--font-size-body-lg);
    padding-bottom: 30px;
    line-height: 1.5;
}
#detail >.information > .product_information > span{
    display: block;
    font-size: var(--font-size-body-sm);
    color: var(--color-on-tertiary-container);
    padding-bottom: 4px;
}
#detail .accordion{
    border: none;
    padding: unset;
    margin: 10px 0;
}
#detail .accordion .header{
    font-size: var(--font-size-body-lg);
    padding: 10px 0;
    border-bottom: 1px solid var(--color-tertiary);
}
#detail .accordion> .body{
    display: block;
}
#detail .accordion > .membership li{
    list-style-type: none;
    list-style-position: inside;
    margin: 18px 0;
    &::before{
        content: "\2713";
        margin-right: 10px;
        font-weight: bold;
    }
}

#detail .accordion > .product_information > div{
    display: flex;
    margin: 18px 0;
}
#detail .accordion > .product_information span:first-child{
    width: 140px;
    font-weight: var(--font-weight-display-lg);
}

/***********************************************/

#detail .accordion .fit_container{
    display: flex;
    margin: 60px 0;
}

#detail .accordion .fit_container > div{
    flex: 1;
    border: 2px solid var(--color-on-tertiary-container);
    padding: 10px;
    border-radius: 5px;
    color: var(--color-primary);
    &:not(:last-child){
        margin-right: 20px;
        color: var(--color-on-tertiary-container);
        border: 1px solid var(--color-primary-fixed-dim);
    }
}
#detail .accordion .fit_container > div > span{
    display: block;
    text-align: center;
    margin: 10px;
    font-size: var(--font-size-label-caps);
}
#detail .accordion .fit_container > div > span:first-child{
    font-size: var(--font-size-body-sm);
    font-weight: 900;
}
/******************************************/
#detail .accordion{
    /*margin-bottom: 60px;*/
}
#detail .accordion .spac_container{
    margin-bottom: 60px;
}
#detail .accordion .spac_container .spac > b{
    display: inline-block;
    margin-bottom: 10px;
}
#detail .accordion .progress_container{
    position: relative;
}
#detail .accordion .progress.parent{
    width: 100%;
    height: 4px;
    background-color: var(--color-surface-variant);
    overflow: hidden;
}
#detail .accordion .progress.child{
    width: 100%;
    height: 10px;
    background-color: var(--color-on-primary-fixed);
    animation-name: progressbar;
    animation-duration: 1s;
    transform: translateX(-50%);
}
@keyframes progressbar{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(-50%);
    }
}
#detail .accordion .progress_container span{
    padding-top: 8px;
    position: absolute;
    color: var(--color-on-primary-container);
    font-size: var(--font-size-body-sm);
    &:nth-child(1){
        left: 0;
    }
    &:nth-child(2){
        left: 50%;
        transform: translateX(-50%);
    }
    &:nth-child(3){
        right: 0;
    }
}


/*********************************************************/

section > h2{
    font-size: var(--font-size-headline-lg-mobile);
    padding-bottom: 16px;
}

#checkmodel{
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--main-y-padding) var(--main-x-padding);
}
#checkmodel .card_container{
    display: flex;
    /*padding: 40px 0;*/
}
#checkpoint .card{
    display: inline-block;
    width: 470px;
    margin: 0 40px 100px 0;
    &:last-child{
        margin-right: 0;
    }
}

#checkpoint .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#checkpoint .card h3{
    font-size: var(--font-size-headline-lg-mobile);
    padding: 30px 0 20px;
}
#checkpoint .card p{
    font-size: var(--font-size-title-md);
}



#model_cut p{
    font-size: var(--font-size-title-md);
    padding-bottom: 40px;
    color: var(--color-outline-variant);
}
#model_cut > div{
    display: flex;
}

#model_cut .card{
    display: inline-block;
    width: 470px;
    margin: 0 40px 100px 0;
    &:last-child{
        margin-right: 0;
    }
}

#model_cut .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/***************************************************/

#review{
    padding: var(--main-y-padding) var(--main-x-padding);
}

#review h2{
    font-size: var(--font-size-title-md);
}

#review > button{
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-body-sm);
    font-weight: 900;
    padding: 14px 100px;
    border-radius: 4px;
}

#review .rating{
    display: flex;
    justify-content: center;
    /*background-color: var(--color-background);*/
    border-bottom: 1px solid var(--color-inverse-on-surface);
    padding: 50px 0;
    margin: 70px 0 50px;
}

#review .average_rating{
    text-align: center;
    flex: 1;
}
#review .average_rating > h3{
    display: inline-block;
    font-size: var(--font-size-display-lg);
    font-weight: 900;
    padding-bottom: 10px;
}
#review .average_rating > span{
    display: block;
    &:not(:last-child){
        font-size: var(--font-size-title-md);
        font-weight: 700;
        padding-bottom: 16px;
    }
}

#review .total_rating{
    display: flex;
    flex: 2;
    /*background-color: #93000a;*/
}
#review .total_rating >div{
    flex: 1;
    text-align: center;
    align-content: center;
}
#review .total_rating > div > .title, .stars{
    display: block;
    padding-bottom: 6px;
}
#review .total_rating .stars{
    color: #d92d0f;
}
#review .photo_video{
    border-bottom: 1px solid var(--color-inverse-on-surface);
    padding: 0 0 50px;
    margin-bottom: 20px 0;
}
#review .photo_video > .header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}
#review .photo_video > ul{
    display: grid;
    grid-template-columns: repeat(12, minmax(100px, 1fr));
    gap: 10px;
}
#review .photo_video ul .img_container{
    aspect-ratio: 1/1;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
#review .photo_video ul .img_container:last-child::before{
    content: "";
    background-color: rgb(0 0 0 / 0.5);
    position: absolute;
    inset: 0;
    z-index: 1;
}
#review .photo_video ul .img_container:last-child::after{
    content: "전체보기";
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}
#review .photo_video img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#review .filter > div:first-child{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-inverse-on-surface);
    padding: 20px 0;
}
#review .filter > div .sort_container{
    display: flex;
    gap: 10px;
}
#review .filter > div .sort_container button{
    display: inline-block;
    align-items: center;
    color: var(--color-inverse-primary);
    font-size: var(--font-size-body-lg);
    font-weight: 600;
}
#review .filter .search_container *{
    color: var(--color-inverse-primary);
    font-size: var(--font-size-body-lg);
}
#review .filter .search_container > button span{
    color: var(--color-on-tertiary-fixed-variant);
    padding-left: 4px;
}
#review .filter .search{
    background-color: white;
    border: 1px solid var(--color-inverse-primary);
    border-radius: 4px;
    padding: 8px 10px;
    margin-left: 10px;
}
#review .filter .search > input{
    border: none;
    background: none;
}
#review .filter > div:nth-child(2){
    border-bottom: 1px solid var(--color-inverse-on-surface);
    padding: 20px 0;
}
#review .filter div .dropdown{
    display: inline-block;
    margin-right: 6px;
}
#review .filter div .dropdown button{
    display: flex;
    border: 1px solid var(--color-inverse-primary);
    padding: 8px 10px;
    border-radius: 4px;
    gap: 8px;
}
#review .filter div .dropdown button i{
    color: var(--color-inverse-primary);
    font-size: var(--font-size-label-caps);
    align-content: center;
}
#review .reviews{
    /*padding: 20px 0;*/
}
#review .reviews .items{
    border-bottom: 1px solid var(--color-inverse-on-surface);
}
#review .reviews .items .item{
    display: flex;
    gap: 40px;
    padding: 20px 0;
}
#review .reviews .items .item .review_container{
    flex: 3;
}
#review .reviews .items .item .review_container .date_text .option{
    color: var(--color-on-tertiary-container);
    border-left: 2px solid var(--color-inverse-primary);
    padding-left: 6px;
    margin-bottom: 10px;
}
#review .reviews .items .item .review_container .date_text .option span:nth-child(2){
    padding-left: 3px;
    color: var(--color-black);
}
#review .reviews .items .item .review_container .date_text  .meta{
    margin-bottom: 16px;
}
#review .reviews .items .item .review_container .content{
    display: block;
    line-height: 1.5;
    margin-bottom: 16px;
}
#review .reviews .items .item .imgs{
    display: flex;
    gap: 10px;
}
#review .reviews .items .item .imgs > .img-btn{
    width: 160px;
    height: 160px;
    border-radius: 4px;
    overflow: hidden;
}
#review .reviews .items .item .imgs > .img-btn > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#review .reviews .items .item .actions_btn{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    align-items: flex-end;
    gap: 4px;
}
#review .reviews .items .item .actions_btn button span img{
    display: inline-block;
    align-items: flex-end;
    gap: 4px;
}
#review .reviews .items .item .review_info{
    flex: 1;
    border-left: 1px solid var(--color-inverse-primary);
    padding-left: 40px;
}
#review .reviews .items .item .review_info .user{
    display: flex;
    align-items: center;
    gap: 6px;
}
#review .reviews .items .item .user .user_icon{
    display: inline-block; /* a 태그는 위드 하이트 안먹힘. 인라인 블럭 해야함 */
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #1b1b1b;
}
#review .reviews .items .item .review_info .user_rank{
    display: inline-block;
    color: var(--color-on-tertiary-container);
    font-size: 13px;
    margin: 16px 0;
}
#review .reviews .items .item .review_info .date{
    display: block;
    color: var(--color-on-tertiary-container);
    font-size: 13px;
}

/*********************************************/
